.game-map {
  display: flex;
  /* border: 5px solid black; */
  flex: 5 1;
  height: 100%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
}

.island {
  display: flex;
  /* flex: 1; */
  justify-content: center;
  align-content: center;
  /* border: 2px black solid; */
  width: 32%;
  flex-wrap: wrap;
  height: 50%;
  padding: 5px;
  position: relative;
}

#pirate {
  /* border: 3px solid black; */
  /* position:absolute; */
  /* left: 110px;
  margin-top: 60px; */
  position: absolute;
  top: 5%
}