:root {
  --chosenTop: -10px;
  --chosenLeft: 100px;

}

.game-map {
  display: flex;
  flex: 5 1;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
}

.island {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 300px;
  margin: auto;
  flex-wrap: wrap;
  padding: 5px;
  position: relative;
}

@keyframes pirateMove {
  0% {
    top: -10px;
    left: 100px;
  }

  100% {

    top: var(--chosenTop);
    left: var(--chosenLeft);

  }

}



#pirate {
  position: fixed;
  z-index: 1;
  padding-left: 90px;
  top:-10px;
  left:10px;
  left: var(--chosenLeft);
  top:var(--chosenTop);
  height: 150px;
  animation-name: pirateMove;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count:1;
}

.island-num {
  border-radius: 126%;
  border: black solid 2px;
  padding: 5%;
  position: relative;
  left: 0px;
  position: absolute;
  background-color: #ed1b27db;
  width: 20px;
  top: 50px
}