/* :rooot{
  --from-div: var(--pirate),
} */
.game-map {
  display: flex;
  flex: 5 1;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
}

.island {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 300px;
  margin: auto;
  flex-wrap: wrap;
  padding: 5px;
  position: relative;
}

/* @keyframes pirate {
  
  to {
    left: 10px
  }
}
.movtion {
  animation-name: pirate;
  animation-duration: 4s;
} */
#pirate {
  position: absolute;
  /* top:5%; */
  bottom: 60px;
  height: 150px;

}

.island-num {
  border-radius: 126%;
  border: black solid 2px;
  padding: 5%;
  /* margin: -22px; */
  position: relative;
  left: 0px;
  /* height: 21px; */
  position: absolute;
  background-color: #ed1b27db;
  width: 20px;
  top: 50px
}