.game {
  background-image: url('../images/Sea.png');
  /* background-color: lightcoral; */
  height: 100vh;
  background-size: cover;
  /* background-position: left; */
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}