.side-bar {
  background-color: rgba(233, 203, 203, 0.788);
  height: 100vh;
  display: flex;
  position: fixed;
  right: 0;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  width: 120px;
  max-width: 180px;
  font-size: 20px;
  min-width: 90px;
  top: 0;
}

#dice-roll {
  font-size: 20px;
  /* margin: auto; */
  border-radius: 10px;
  background-color: orange;
  border: none;
  padding: 10px;
  color: white;
  font-family: inherit;
  /* width: 120px; */
}

#hand {
  /* margin: auto; */
  width: inherit;
  max-width: 100px;
  text-shadow: ivory 1px 1px;
}

@keyframes rolling {

  100% {
    transform: rotate(360deg);
  }
}

.rolling {
  animation-name: rolling;
  animation-duration: 2s;
}

#dice {
  margin: auto;
  width: inherit;
  max-width: 100px;
}

.side-items {
  max-width: 100px;
  align-self: center;

  font-size: smaller;
}

p {
  width: 100px;
  margin: -70px;
  text-shadow: ivory 1px 1px;
}